<mat-grid-list cols="10" rowHeight="1:6">

    <mat-grid-tile [colspan]="10" >
        <mat-card style="height: 100%; width: 100%;">
            <h1 class="titulo">{{ 'home.titulo' | translate }}</h1>
            <p class="parrafo">
                {{ 'home.descripcion' | translate }}
            </p>

            <div class="contenedor" >
                <img class="imagen" src="assets/images/diagrama.png" alt="Flujo de anotacion">
               
            </div>
            <figcaption class="leyenda">
                {{ 'home.proceso' | translate }}
            </figcaption>

        </mat-card>
       
    </mat-grid-tile>
</mat-grid-list>
