<div style="height: 100%;">
    <mat-toolbar class="standar">
        <span style="width: 100%;text-align: center;">{{ 'anotar.dialogo.inconsistencia' | translate }}</span>
    </mat-toolbar>

    <mat-card>
        <div>
            <h4>
                {{ 'anotar.dialogo.inconsistencia_mensaje' | translate }}
            </h4>
            <h4>
                {{ 'anotar.dialogo.accion' | translate }}
                <span *ngIf="anotacion.ejecuta; else noEjecuta">
                    <span style="color: forestgreen;">{{ 'anotar.dialogo.ejecuta' | translate }}</span> 
                </span>

                <ng-template #noEjecuta>
                    <span style="color: tomato;"> {{ 'anotar.dialogo.no_ejecuta' | translate }} </span>
                </ng-template>
                
                
            </h4>
            <div *ngFor="let valor of notificacion.valores_inconsistentes">
                <span class="tratamiento"
                    [ngStyle]="{'color': valor.color_primario}">
                    {{valor.tratamiento_descripcion}}|
                    {{valor.atributo_descripcion}}|
                    {{valor.valor_descripcion}}
                    <br>
                </span>
            </div>
        </div>

        
        <div *ngIf="notificacion.valores_sugeridos.length > 0; else noSugerencias">
            <div>
                <h4>
                    {{ 'anotar.dialogo.sugerencia1' | translate }}
                </h4>
            </div>
    
            <div *ngFor="let valor of notificacion.valores_sugeridos">
                <span class="tratamiento"
                    [ngStyle]="{'color': valor.color_primario}">
                    {{valor.tratamiento_descripcion}}|
                    {{valor.atributo_descripcion}}|
                    {{valor.valor_descripcion}}
                    <br>
                </span>
            </div>
        </div>

        <ng-template #noSugerencias>
            <h4>
                {{ 'anotar.dialogo.codificar' | translate }}
                <br>
                {{ 'anotar.dialogo.sugerencia2' | translate }}
            </h4>
        </ng-template>

        <mat-card-actions style="padding-top: 20px;">
            <mat-grid-list cols="6" rowHeight="25px">
                <mat-grid-tile [colspan]="6" [rowspan]="1" style="padding-top: 20px;">
                    <span style="font-size: 20px;font-weight: 500; text-align: left; width: 100%;">
                        {{ 'anotar.dialogo.mensaje_guardar' | translate }}
                    </span>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="4" [rowspan]="1" style="padding-top: 20px;">

                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="2">
                    <button (click)="cancelar()" class="standar" mat-button>
                        {{ 'botones.cancelar' | translate }}
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="2">
                    <button (click)="guardarAnotacion()" class="botonPositivo" mat-button>
                        {{ 'botones.guardar' | translate }}
                        <mat-icon>save</mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-card-actions>

    </mat-card>

</div>